body {
    margin: 0;
    padding: 0%;
    background-size: cover;
    background-repeat: no-repeat; 
}
main {
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
h3 {
    color: white;
}
p {
    color: white;   
}
.navbar ul {
    list-style-type: none;
    background-color: white;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgb(194, 194, 194);
}
.navbar li {
    float: left;
}
a {
    font-size: 20px;
    font-family: Arial;
    border-right: black 1px solid;
}